@model ICollection<SportsBet.Models.EventViewModel>
<html>
<head>
    <script type="text/javascript" src="table_script.js"></script>
    
</head>
<body>
    <table >
        <tr>
            <th>EventName</th>
            <th>OddsForFirstTeam</th>
            <th>OddsForDraw</th>
            <th>OddsForSecondTeam</th>
            <th>EventStartDate</th>
        </tr>
        @if (Model.ElementAt(1).IsInEditMode == false)
        {
            foreach (var ev in Model)
            {
                <tr  class="viewableRow">
                    <td >@ev.Name</td>
                        <td class="viewableCol">@ev.OddsForFirstTeam</td>
                        <td class="viewableCol">@ev.OddsForDraw</td>
                        <td class="viewableCol">@ev.OddsForSecondTeam</td>
                        <td class="viewableCol">@ev.StartDate</td>
                        <td class="viewableCol"></td>
                </tr>
            }
            <button><li>@Html.ActionLink("Edit", "", "Events")</li></button>
        }

    </table>

</body>
</html>