@model IEnumerable<SportsBet.Models.EventViewModel>
<html>
<head>
<script type="text/javascript" src="table_script.js"></script>
</head>
<body>
    <table>
        <tr>
            <th>EventName</th>
            <th>OddsForFirstTeam</th>
            <th>OddsForDraw</th>
            <th>OddsForSecondTeam</th>
            <th>EventStartDate</th>
        </tr>
        @if (!Model.ElementAt(0).IsInEditMode)
        {
            foreach (var ev in Model)
            {
        <tr>
            <td>@ev.Name</td>
            <td>@ev.OddsForFirstTeam</td>
            <td>@ev.OddsForDraw</td>
            <td>@ev.OddsForSecondTeam</td>
            <td>@ev.StartDate</td>
        </tr>
            }
        }
    </table>

</body>
</html>