@model IEnumerable<SportsBet.Models.EventViewModel>
@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/scripts")

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OddsForFirstTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OddsForDraw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OddsForSecondTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.EventID" class="@(@item.StartHasPassed ? "passedEvent" : "previewRow")">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="odd @item.EventID">
                @Html.DisplayFor(modelItem => item.OddsForFirstTeam)
            </td>
            <td class="odd @item.EventID">
                @Html.DisplayFor(modelItem => item.OddsForDraw)
            </td>
            <td class="odd @item.EventID">
                @Html.DisplayFor(modelItem => item.OddsForSecondTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate, new { htmlAttributes = new { placeholder = "YYYY-MM-DD hh-mm-ss" } })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Add", "Create")
</p>